<layout-component>
    <ng-container pageBody>
        <table class="table table-data-view">
            <tbody>
            <tr>
                <th>Name</th>
                <td>Muhammad Umar Farooq</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>umar.bwn</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>Active</td>
            </tr>
            </tbody>
        </table>
    </ng-container>
</layout-component>
