<section class="main-page-wrapper">
    <div class="left">
        <div>
            <header class="page-header">
                <div class="title-and-action-items">
                    <h3 class="title">{{title}}</h3>
                </div>
                <div class="container-breadcrumb-and-list-view">
                    <breadcrumb-component [breadcrumbs]="breadcrumbs"></breadcrumb-component>
                </div>
            </header>

            <div class="page-body">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-container">
                            <img *ngIf="profileImage === null" src="./assets/images/svg/user-image-placeholder.svg" alt="User Image"/>
                            <img *ngIf="profileImage != null" src="{{'data:image/jpg;base64,' + profileImage}}" alt="User Image"/>
                            <button (click)="signatureImg.click()" class="btn btn-secondary">
                                <i class="icon-edit"></i>
                            </button>
                            <input type="file" name="signatureImg"
                                   accept="image/png, image/jpeg, application/pdf"
                                   class="d-none" #signatureImg onclick="this.value = null"
                                   (change)="updateProfileImg($event)"/>

                        </div>
                        <div class="content-container">
                            <div class="left-container">
                                <div>
                                    <h1>{{selectedUserProfile.name}}</h1>
                                    <h4>{{selectedGroups.rolesNameList}}</h4>
                                </div>
                                <div class="actions">
                                    <!--                            <button class="btn btn-sm btn-primary">Edit profile</button>-->
                                    <button (click)="showChangePasswordPopup()" class="btn btn-sm btn-primary">Change Password</button>
                                </div>
                            </div>
                            <div class="right-container">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Username</th>
                                        <td>{{selectedUserProfile.username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email address</th>
                                        <td>{{selectedUserProfile.email}}</td>

                                    </tr>
                                    <tr>
                                        <th>Mobile Number</th>
                                        <td>{{selectedUserProfile.mobileNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone #</th>
                                        <td>{{selectedUserProfile.phoneNumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="actions">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>
                    <span>Activity</span>
                </h2>
                <ul class="activity-timeline">
                    <li>
                        <img src="./assets/images/svg/user-image-placeholder.svg" alt="user image">
                        <p>
                            <span>Umar Farooq</span>
                            <span class="text-muted">has changed</span>
                            <span>2 attributes</span>
                            <span class="text-muted">on jan 21, 2021</span>
                        </p>
                    </li>
                    <li>
                        <img src="./assets/images/svg/user-image-placeholder.svg" alt="user image">
                        <p>
                            <span>Umar Farooq</span>
                            <span class="text-muted">moved</span>
                            <span>Tour-pic.jpeg</span>
                            <span class="text-muted">to</span>
                            <span>Tour 2021</span>
                            <span class="text-muted">on Jan 21, 2021</span>
                        </p>
                    </li>
                    <li class="has-comments">
                        <div class="activity-box">
                            <img src="./assets/images/svg/user-image-placeholder.svg" alt="user image">
                            <p>
                                <span>Umar Farooq</span>
                                <span class="text-muted">commented on Jan 21, 2021</span>
                            </p>
                        </div>
                        <div class="comment-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                                mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                                interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class
                                aptent taciti sociosqu ad litora torquent per conubia nostra
                            </p>
                            <div class="replies-tab">
                                <i class="icon-arrow-right-curved"></i>
                                <a role="button">Show 3 replies</a>
                                <ul>
                                    <li>
                                        <img src="./assets/images/image.png" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="./assets/images/image.png" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="./assets/images/image.png" alt="Avatar">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<p-dialog [(visible)]="visibleChangePasswordDialog" [modal]="true" styleClass="p-dialog-md">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-lock"></i>
            <span>Change Password</span>
        </div>
    </ng-template>
    <form [formGroup]="changePasswordForm">
        <div class="row">
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="currentPassword" placeholder="Current password"
                           type="password">
                    <label class="required">Current password</label>
                </div>
                <small
                        *ngIf="appUtility.getFormError(changePasswordForm, 'currentPassword', 'currentPassword', 'required')">
                    {{ appUtility.makeErrorMessage('Current Password ', 'required') }}
                </small>
                <small
                        *ngIf="appUtility.getFormError(changePasswordForm, 'currentPassword', 'currentPassword', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Code', 'maxlength', 17) }}
                </small>
            </div>
            <ng-container formGroupName="passwords">
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <input class="form-control" formControlName="password" placeholder="New password"
                               type="password">
                        <label class="required">New password</label>
                    </div>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'password', 'required', 'password')">
                        {{ appUtility.makeErrorMessage("Password", 'required') }}
                    </small>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'password', 'maxlength', 'password')">
                        {{ appUtility.makeErrorMessage("Password", 'maxlength', 32) }}
                    </small>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'password', 'minlength', 'password')">
                        {{ appUtility.makeErrorMessage("Password", 'minlength', 6) }}
                    </small>
                    <small *ngIf="changePasswordForm.controls['passwords'].get('password')?.touched &&
                                        changePasswordForm.controls['passwords'].get('password')?.errors">
                        {{ 'Password must contain 1 alpha numeric key and 1 special char' }}
                    </small>
                </div>
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <input class="form-control" formControlName="confirmPassword" placeholder="Confirm password"
                               type="password">
                        <label class="required">Confirm password</label>
                    </div>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'confirmPassword', 'required', 'password')">
                        {{ appUtility.makeErrorMessage("Confirm Password", 'required') }}
                    </small>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'confirmPassword', 'maxlength', 'password')">
                        {{ appUtility.makeErrorMessage("Confirm Password", 'maxlength', 32) }}
                    </small>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'confirmPassword', 'minlength', 'password')">
                        {{ appUtility.makeErrorMessage("Confirm Password", 'minlength', 6) }}
                    </small>
                    <small *ngIf="appUtility.getFormError(changePasswordForm, 'passwords', 'confirmPassword', 'match', 'password')">
                        {{ 'Password & Confirm Password must be same' }}
                    </small>
                </div>
            </ng-container>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideChangePasswordPopup()" class="btn btn-sm btn-danger me-2">Close</button>
        <button (click)="changePassword()" [disabled]="changePasswordForm.invalid"
                class="btn btn-sm btn-primary" type="button">Update
        </button>
    </ng-template>
</p-dialog>
