<section class="main-page-wrapper">
    <div class="left">
        <div>
            <header class="page-header">
                <div class="title-and-action-items">
                    <ng-container>
                        <h3 class="title">{{title}}</h3>
                    </ng-container>
                </div>
                <div class="container-breadcrumb-and-list-view">
                    <ng-container *ngIf="breadcrumbs.length > 0">
                        <div class="breadcrumbs-container">
                            <ol class="breadcrumb">
                                <ng-container
                                        *ngFor="let breadcrumb of breadcrumbs; let index = index; let lastIndex = last">
                                    <li [ngClass]="breadcrumb.active ? 'active' : ''" class="breadcrumb-item">
                                        <ng-container *ngIf="lastIndex; else elseBlock">
                                            <a>{{breadcrumb.label}}</a>
                                        </ng-container>
                                        <ng-template #elseBlock>
                                            <a (click)="navigateToRoute(breadcrumb)" role="button">
                                                {{breadcrumb.label}}
                                            </a>
                                        </ng-template>
                                    </li>
                                </ng-container>
                            </ol>
                        </div>
                    </ng-container>
                    <div class="btn-group input-group-display-listing">
                        <button (click)="setGridDisplay()" [ngClass]="showGridDisplay ? 'active': ''"
                                class="btn btn-primary">
                            <i class="icon-display-grid"></i>
                        </button>
                        <button (click)="setListDisplay()" [ngClass]="showGridDisplay ? '': 'active'"
                                class="btn btn-primary">
                            <i class="icon-display-listing"></i>
                        </button>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <ng-container *ngIf="showGridDisplay">
                    <div class="grid-view-container">
                        <div class="row row-items">
                            <ng-container *ngFor="let item of dlDocuments">
                                <div class="col-sm-6 col-lg-6 col-xl-3 col-item">
                                    <div class="file-card">
                                        <div class="icon-thumbnail">
                                            <ng-container *ngIf="item.folder == false">
                                                <ng-container
                                                        *ngIf="validExtensions.indexOf(item.extension) > -1; else otherFileElseCase">
                                                    <img alt="{{item.extension}}"
                                                         src="./assets/images/svg/icons/{{item.extension}}.svg">
                                                </ng-container>
                                                <ng-template #otherFileElseCase>
                                                    <img alt="other" src="./assets/images/svg/icons/other.svg">
                                                </ng-template>
                                            </ng-container>
                                            <img *ngIf="item.folder == true"
                                                 alt="icon" src="./assets/images/svg/icons/folder.svg">
                                        </div>
                                        <div class="file-details">
                                            <p class="title" role="button">{{item?.name}}</p>
                                            <p class="date-and-author">
                                                <span>{{item?.updatedOnDetail}} by </span>
                                                <a role="button" routerLink="/link">{{item?.updatedByName}}</a>
                                            </p>
                                            <p class="file-size">{{item?.size}}</p>
                                        </div>
                                        <button (click)="menu.toggle($event)" class="btn btn-tiered-menu-vertical">
                                            <p-tieredMenu #menu [model]="menuItems" [popup]="true"
                                                          appendTo="body"></p-tieredMenu>
                                            <i class="icon-menu-vertical"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!showGridDisplay">
                    <p-table [paginator]="true" [rowsPerPageOptions]="[10, 20, 40, 60, 80, 100]" [rows]="10"
                             [value]="dlDocuments" styleClass="doc-data-table">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="form-check form-check-only">
                                        <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                                        <label class="form-check-label" for="flexCheckDefault"></label>
                                    </div>
                                </th>
                                <th pSortableColumn="name">Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="updatedOn">Updated
                                    <p-sortIcon field="updatedOn"></p-sortIcon>
                                </th>
                                <th pSortableColumn="size">Size
                                    <p-sortIcon field="size"></p-sortIcon>
                                </th>
                                <th></th>
                                <th class="actions-th"></th>
                            </tr>
                        </ng-template>
                        <ng-template let-row pTemplate="body">
                            <tr>
                                <td>
                                    <div class="form-check form-check-only">
                                        <input [attr.id]="'checkbox-' + row.id" [checked]="row.selected" class="form-check-input"
                                               type="checkbox">
                                        <label [attr.for]="'checkbox-' + row.id" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="file-types">
                                        <ng-container *ngIf="row.folder == false">
                                            <ng-container
                                                    *ngIf="validExtensions.indexOf(row.extension) > -1; else otherFileElseCase">
                                                <img alt="{{row.extension}}"
                                                     src="./assets/images/svg/icons/{{row.extension}}.svg">
                                            </ng-container>
                                            <ng-template #otherFileElseCase>
                                                <img alt="other" src="./assets/images/svg/icons/other.svg">
                                            </ng-template>
                                        </ng-container>
                                        <img *ngIf="row.folder == true" alt="icon"
                                             src="./assets/images/svg/icons/folder.svg">
                                        <ng-container *ngIf="row.folder == true; else elseCase">
                                            <span (click)="navigateToDocLib(row.id)" role="button">{{row.name}}</span>
                                        </ng-container>
                                        <ng-template #elseCase>
                                            <span (click)="openFile(row)" role="button">{{row.name}}</span>
                                        </ng-template>
                                    </div>
                                </td>
                                <td>
                                    <span>{{row.updatedOnDetail}} by </span>
                                    <a class="author" role="button">{{row.updatedByName}}</a>
                                </td>
                                <td>{{row.size}}</td>
                                <td>
                                    <div class="form-check form-check-only form-check-star">
                                        <input (change)="favouriteDocument($event, row)" [attr.id]="'stared-' + row.id"
                                               [checked]="row.favourite"
                                               class="form-check-input"
                                               type="checkbox">
                                        <label [attr.for]="'stared-' + row.id" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <button (click)="menu.toggle($event);onMenuClicked(row)"
                                            class="btn btn-tiered-menu">
                                        <p-tieredMenu #menu [model]="menuItems" [popup]="true"
                                                      appendTo="body"></p-tieredMenu>
                                        <i class="icon-menu-horizontal"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">
                                    No data found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>
        <div class="page-footer">
            <ng-content select=[pageFooter]></ng-content>
        </div>
    </div>
</section>
