<div class="layout-wrapper">
    <div class="content-wrapper">
        <nav-component [showImageViewSettings]="true">
            <ng-container imagePreviewActions>
                <image-preview-actions-component></image-preview-actions-component>
            </ng-container>
        </nav-component>
        <section class="main-page-wrapper">
            <div class="left" [ngClass]="docInfoPane ? '': 'collapsed'">
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1664332817741-7c9ab631a9be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
                         alt="Image">
                </div>
                <div class="image-controls">
                    <div class="controllers">
                        <button class="btn btn-control btn-prev">
                            <i class="icon-arrow-left"></i>
                        </button>
                        <button class="btn btn-control btn-next">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                    <div class="image-control-pane">
                        <div class="metadata">
                            <div class="image-meta">
                                <p class="image-name">Image name.jpeg</p>
                                <button class="btn btn-star" (click)="starFileAction()">
                                    <i class="icon-star-filled" *ngIf="stared"></i>
                                    <i class="icon-star" *ngIf="!stared"></i>
                                </button>
                            </div>
                            <p class="image-counter">1 of 1</p>
                        </div>
                        <div class="image-magnifier">
                            <ul>
                                <li>
                                    <button class="btn btn-zoom-out" (click)="magnifierZoomOutAction()">
                                        <i class="icon-minus"></i>
                                    </button>
                                </li>
                                <li class="zoom-percentage">
                                    {{magnifierZoom + 100}}%
                                </li>
                                <li>
                                    <button class="btn btn-zoom-in" (click)="magnifierZoomInAction()">
                                        <i class="icon-plus"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <doc-info-pane-component [ngClass]="docInfoPane ? 'collapsed': ''"></doc-info-pane-component>
        </section>
    </div>
</div>

