<div class="layout-wrapper">
    <div class="content-wrapper">
        <nav-component [showImageViewSettings]="true" class="preview-nav-component">
            <ng-container imagePreviewActions>
                <div class="row actions-row">
                    <div class="col-6">
                        <button (click)="downloadFile()" class="btn btn-sm btn-secondary me-2">
                            <i class="icon-download"></i>
                            Download
                        </button>
                        <button (click)="showShareDocumentDialog(selectedDoc)"
                                *ngIf="sharedPreview !== routePreviewConstants.SWM"
                                class="btn btn-sm btn-secondary me-2">
                            <i class="icon-share"></i>
                            Share
                        </button>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <button (click)="backToDocLibAction()" class="btn btn-sm btn-transparent ms-4">
                            <i class="icon-times"></i>
                        </button>
                    </div>
                </div>
            </ng-container>
        </nav-component>
        <section class="main-page-wrapper">
            <div [ngClass]="showDocInfoPane ? 'collapsed': ''" class="left">
                <div class="image-container">
                    <ng-container
                            *ngIf="getValidExtension(); else otherFileElseCase">
                        <ng-container *ngIf="checkValidImageFile(); else elseFileCase">
                            <img alt="{{selectedDoc.extension}}"
                                 class="file-type-thumbnail"
                                 src="./assets/images/svg/icons/{{selectedDoc.extension}}.svg">
                        </ng-container>
                        <ng-template #elseFileCase>
                            <div class="file-and-msg-prev-container">
                                <img alt="{{selectedDoc.extension}}"
                                     class="file-type-thumbnail"
                                     src="./assets/images/svg/icons/{{selectedDoc.extension}}.svg">
                                <p>We’re sorry, we can’t preview this file type in your web browser. To view this
                                    content please download and open it on your device.</p>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #otherFileElseCase>
                        <img alt="other" class="file-type-thumbnail" src="./assets/images/svg/icons/other.svg">
                    </ng-template>

                </div>
                <div class="image-controls">
                    <div class="controllers">
                        <ng-container
                                *ngIf="sharedPreview !== routePreviewConstants.SBM && sharedPreview !== routePreviewConstants.SWM">
                            <button (click)="openPrevFileAction()" class="btn btn-control btn-prev">
                                <i class="icon-arrow-left"></i>
                            </button>
                            <button (click)="openNextFileAction()" class="btn btn-control btn-next">
                                <i class="icon-arrow-right"></i>
                            </button>
                        </ng-container>
                    </div>
                    <div class="image-control-pane">
                        <div class="metadata">
                            <div class="image-meta">
                                <p class="image-name">{{selectedDoc?.name}}</p>
                                <button (click)="favouriteDocument(selectedDoc)" *ngIf="sharedPreview !== 'swm'"
                                        class="btn btn-star">
                                    <i *ngIf="selectedDoc?.favourite" class="icon-star-filled"></i>
                                    <i *ngIf="!selectedDoc?.favourite" class="icon-star"></i>
                                </button>
                            </div>
                            <p *ngIf="sharedPreview !== routePreviewConstants.SBM && sharedPreview !== routePreviewConstants.SWM"
                               class="image-counter">{{currentDocIndex + 1}}
                                of {{dlDocuments.length}}</p>
                        </div>
                        <div *ngIf="checkValidImageFile()" class="image-magnifier">
                            <ul>
                                <li>
                                    <button (click)="magnifierZoomOutAction()" class="btn btn-zoom-out">
                                        <i class="icon-minus"></i>
                                    </button>
                                </li>
                                <li class="zoom-percentage">
                                    {{magnifierZoom + 100}}%
                                </li>
                                <li>
                                    <button (click)="magnifierZoomInAction()" class="btn btn-zoom-in">
                                        <i class="icon-plus"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <doc-info-pane-component [_selectedDoc]="selectedDoc" [docTabs]="previewTabs"
                                     [ngClass]="showDocInfoPane ? '': 'collapsed'">
            </doc-info-pane-component>
        </section>
    </div>
</div>

<p-dialog [(visible)]="shareDocumentDialog" [modal]="true" styleClass="p-dialog-sm">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'" class="icon-file"></i>
            <span>Share {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-container [formGroup]="shareWithUserForm">
        <div class="mb-3">
            <span class="p-float-label">
                <p-dropdown (onChange)="onShareTypeChange()" [options]="shareTypes"
                            formControlName="shareType" id="shareType"></p-dropdown>
                <label for="shareType">General Access</label>
            </span>
        </div>
        <div *ngIf="shareWithUserForm.get('shareType')?.value !== 'ANYONE'" class="mb-3">
            <label for="collaborators">Invite People</label>
            <p-chips (onAdd)="onAddCollaborator($event.value)" [addOnTab]="true"
                     [allowDuplicate]="false" formControlName="collaborators" id="collaborators"></p-chips>
        </div>
        <div class="share-rights-dropdown mb-3">
            <label class="mr-5px">Permissions:</label>
            <p-dropdown [options]="shareSecurityTypes" appendTo="body" formControlName="sharePermission">
                <ng-template let-item pTemplate="selectedItem">
                    {{item.label}}
                </ng-template>
                <ng-template let-caption pTemplate="item">
                    <div [pTooltip]="caption.detail">
                        <li>
                            <span class="item-value1">{{caption.label}}</span>
                        </li>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" formControlName="message" id="message" placeholder="message"></textarea>
            <label for="message">Message</label>
        </div>
        <div>
            <span class="p-float-label">
                <p-dropdown [filter]="true" [options]="departments" [showClear]="true"
                            appendTo="body" filterBy="name" formControlName="departmentId"
                            id="departmentId" optionLabel="name" optionValue="id"
                            placeholder="Select department"></p-dropdown>
                <label class="required" for="departmentId">Department</label>
            </span>
        </div>
        <hr>
        <ng-container *ngIf="shareWithUserForm.get('shareType')?.value === 'ANYONE'">
            <div class="mb-3">
                <label>Share link</label>
                <div class="form-check form-switch">
                    <input (change)="onShareTypeChange();createSharedLinkAction()" [checked]="createSharedLink"
                           class="form-check-input" id="shareLinkSwitch"
                           role="switch"
                           type="checkbox">
                    <label class="form-check-label" for="shareLinkSwitch">
                        <span>Create shared link</span>
                    </label>
                </div>
            </div>
            <ng-container *ngIf="createSharedLink">
                <div class="input-group mb-1">
                    <input #shareLinkInput [readOnly]="true" class="form-control" formControlName="publicUrlLink"
                           type="text">
                    <div class="input-group-text">
                        <button (click)="copyLinkToClipboard(shareLinkInput)" class="btn btn-sm btn-transparent">Copy
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template pTemplate="footer">
        <button (click)="hideShareDocumentDialog()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="onShare(shareWithUserForm.value)" class="btn btn-sm btn-primary"
                type="button">Share
        </button>
    </ng-template>
</p-dialog>

