<div class="layout-wrapper" [ngClass]="[toggleMenuState ? 'expended' : '', toggleRightPaneState ? 'right-pane-expended' : '']">
    <sidebar-component [ngClass]="toggleMenuState ? 'expended' : ''"></sidebar-component>
    <div class="content-wrapper">
        <nav-component></nav-component>
        <section class="main-page-wrapper">
            <header class="page-header">
                <breadcrumb-component></breadcrumb-component>
                <ng-content select=[actionItems]></ng-content>
            </header>
            <div class="page-body">
                <ng-content select=[pageBody]></ng-content>
            </div>
        </section>
    </div>
    <right-pane-component [ngClass]="toggleRightPaneState ? 'expended' : ''"></right-pane-component>
</div>

