<div class="layout-wrapper" [ngClass]="[toggleMenuState ? 'expended' : '', toggleRightPaneState ? 'right-pane-expended' : '']">
    <sidebar-component [ngClass]="toggleMenuState ? 'expended' : ''"></sidebar-component>
    <div class="content-wrapper">
        <nav-component></nav-component>
        <section class="main-page-wrapper">
            <div class="left">
                <header class="page-header">
                    <breadcrumb-component>
                        <ng-container actionItems>
                            <ng-content select=[actionItems]></ng-content>
                        </ng-container>
                    </breadcrumb-component>
                </header>
                <div class="page-body">
                    <ng-content select=[pageBody]></ng-content>
                </div>
            </div>
            <div class="right">
                <ng-content select=[docInfoPane]></ng-content>
            </div>
        </section>
    </div>
    <right-pane-component [ngClass]="toggleRightPaneState ? 'expended' : ''"></right-pane-component>
</div>

