@import "../../../../assets/less/_vars";
@import "../../../../assets/less/_mixin";

:host {
	display: block;
	min-height: 100vh;
	background-color:hsl(var(--color-blue-01));
	width: 300px;
}

.main-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 70px);
	
	> ul {
		
		> li {
			border: 1px solid transparent;
			
			&.active,
			&:hover {
				border-color: hsl(var(--color-blue-02));
			}
			
		}
		
	}
	
	ul {
		margin: 0;
		padding: 15px 30px;
		border-bottom: 1px dashed hsl(var(--color-blue-04));
		width: 100%;
		
		li {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			
			&.active,
			&:hover {
				background-color: hsl(var(--color-blue-02));
				
				> a {
					background-color: hsl(var(--color-blue-02));
					
					span {
						
						&.icon-holder {
							
							i {
								
								&.default {
									opacity: 0;
								}
								
								&.filled {
									opacity: 1;
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			a {
				color: @color-white;
				text-decoration: none;
				padding: 15px;
				font-size: 14px;
				font-weight: 700;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				.mixin-transition();
				
				span {
					
					&.icon-holder {
						position: relative;
						margin-right: 15px;
						width: 18px;
						height: 18px;
						
						i {
							font-size: 18px;
							.mixin-transition();
							position: absolute;
							top: 0;
							left: 0;
							
							&.default {
								opacity: 1;
							}
							
							&.filled {
								opacity: 0;
							}
							
						}
						
					}
					
				}
				
			}
			
			&.has-children {
				flex-direction: column;
				
				&.active,
				&.expended {
					
					> a {
						
						span {
							
							&:nth-child(2) {
								
								i[class^="icon-arrow"] {
									.mixin-transform(rotate(-90deg));
								}
								
							}
							
						}
						
					}
					
				}
                
                a {
                    
                    span {
                        
                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
    
                            i[class^="icon-arrow"] {
                                color: @color-white;
	                            font-size: 10px;
	                            .mixin-transition();
                            }
                            
                        }
                        
                    }
                    
                }
				
				ul {
					padding: 0;
					max-height: 0;
					visibility: hidden;
					opacity: 0;
					border-bottom: none;
					width: 100%;
					transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
					
					&.show {
						max-height: 1000px;
						visibility: visible;
						opacity: 1;
					}
					
					li {
						position: relative;
						
						&.has-children {
							
							&:hover,
							&.active,
							&.expended {
								
								a {
									background-color: hsl(var(--color-blue-03), 20%);
								}
								
							}
							
						}
						
						a {
							
							i[class^="icon-arrow"] {
								font-size: 10px;
							}
							
						}
						
						ul {
							
							li {
								background-color: transparent;
								
								&:hover,
								&.active {
									
									a {
										background-color: hsl(var(--color-blue-03), 40%);
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.banners-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
		width: 100%;
	}
	
}

@media (-webkit-device-pixel-ratio: 1.25) {
	
	:host {
		width: 236px;
	}
	
	.main-container {
		min-height: calc(100vh - 54px);
		
		ul {
			padding: 10px 20px;
			
			li {
				
				a {
					padding: 10px;
					font-size: 12px;
					
					span {
						
						.icon-holder {
							margin-right: 10px;
							width: 14px;
							height: 14px;
							
							i {
								font-size: 14px;
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

@media screen and (max-width: 1440px) {
	
	:host {
		width: 236px;
	}
	
	.main-container {
		min-height: calc(100vh - 54px);
		
		ul {
			padding: 10px 20px;
			
			li {
				
				a {
					padding: 10px;
					font-size: 12px;
					
					span {
						
						.icon-holder {
							margin-right: 10px;
							width: 14px;
							height: 14px;
							
							i {
								font-size: 14px;
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

@media screen and (max-width: 1024px) {
	
	:host {
		position: fixed;
		z-index: 99999;
		transform: translateX(-100%);
		.mixin-transition();
		
		&.expended {
			transform: translateX(0);
		}
		
	}
	
}
