<sidebar-header-component></sidebar-header-component>
<div class="main-container">
    <ul>
        <ng-container *ngFor="let route of routes">
            <ng-container *ngIf="!route.children">
                <li [ngClass]="route.active ? 'active' : ''">
                    <a role="button" [routerLink]="route.route">
                        <span class="icon-holder">
                            <i [attr.class]=" 'default ' + route.icon"></i>
                            <i [attr.class]="'filled ' + route.icon + '-filled'"></i>
                        </span>
                        <span>{{route.label}}</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="route?.children">
                <li class="has-children" [ngClass]="[route.expended ? 'expended active' : '']">

                    <ng-container *ngIf="route.route == '/setting'; else settingElseCase">
                        <a role="button" (click)="toggleDropdown(route)" [routerLink]="route.route">
                        <span class="icon-holder">
                            <i [attr.class]=" 'default ' + route.icon"></i>
                            <i [attr.class]="'filled ' + route.icon + '-filled'"></i>
                        </span>
                            <span>
                            <span>{{route.label}}</span>
                            <i class="icon-arrow-left"></i>
                        </span>
                        </a>
                    </ng-container>

                    <ng-template #settingElseCase>
                        <a role="button" (click)="toggleDropdown(route)">
                            <span class="icon-holder">
                                <i [attr.class]=" 'default ' + route.icon"></i>
                                <i [attr.class]="'filled ' + route.icon + '-filled'"></i>
                            </span>
                            <span>
                                <span>{{route.label}}</span>
                                <i class="icon-arrow-left"></i>
                            </span>
                        </a>
                    </ng-template>

                    <ul [ngClass]="route.expended ? 'show' : ''">

                        <ng-container *ngFor="let child of route.children; let index = index;">

                            <ng-container *ngIf="child?.children; else elseCase">

                                <li class="has-children" [ngClass]="[child.expended ? 'expended active' : '']">
                                    <a role="button" (click)="toggleChildDropdown(index, child)">
                                        <span class="icon-holder">
                                            <i [attr.class]=" 'default ' + child.icon"></i>
                                            <i [attr.class]="'filled ' + child.icon + '-filled'"></i>
                                        </span>
                                        <span>
                                            <span>{{child.label}}</span>
                                            <i class="icon-arrow-left"></i>
                                        </span>
                                    </a>

                                    <ul [ngClass]="child.expended ? 'show' : ''">
                                        <li [ngClass]="subChild.active ? 'active' : ''" *ngFor="let subChild of child.children">
                                            <a role="button" [routerLink]="subChild.route">
                                                <span class="icon-holder">
                                                    <i [attr.class]="subChild.icon"></i>
                                                </span>
                                                <span>{{subChild.label}}</span>
                                            </a>
                                        </li>
                                    </ul>

                                </li>

                            </ng-container>

                            <ng-template #elseCase>

                                <li [ngClass]="child.active ? 'active' : ''">
                                    <a role="button" [routerLink]="child.route">
                                        <span class="icon-holder">
                                            <i [attr.class]=" 'default ' + child.icon"></i>
                                            <i [attr.class]="'filled ' + child.icon + '-filled'"></i>
                                        </span>
                                        <span>{{child.label}}</span>
                                    </a>
                                </li>

                            </ng-template>

                        </ng-container>

                    </ul>

                </li>
            </ng-container>
        </ng-container>
    </ul>
    <div class="banners-container">
        <storage-viewer-component></storage-viewer-component>
        <banner-upgrade-component></banner-upgrade-component>
    </div>
</div>
