<div class="main-wrapper">
    <div class="left">
        <img src="./assets/images/svg/book-lock.svg" alt="Login image">
    </div>
    <div class="right">
        <div class="right-container">
            <h4 class="text-center m-0 mb-4">Reset Password</h4>
            <form class="card-body" [formGroup]="resetPasswordForm" >

                <ng-container formGroupName="passwords">
                    <div class="form-floating">
                        <input id="password" class="form-control"
                               [attr.type]="passwordVisibility ? 'password' : 'text'"
                               formControlName="password"
                               placeholder="Enter your password">
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'password', 'required', 'password')">
                            Password is required.
                        </small>
                        <label for="password">Password</label>
                        <div class="input-group-text cursor-pointer" (click)="togglePasswordVisibility()">
                            <i class="{{passwordVisibility ? 'icon-eye' : 'icon-eye-hide'}}"></i>
                        </div>
                    </div>
                    <div class="form-floating mt-3">
                        <input id="confirm-password" class="form-control"
                               [attr.type]="confirmPasswordVisibility ? 'password' : 'text'"
                               formControlName="confirmPassword"
                               placeholder="Confirm Password">
                        <label for="confirm-password">Confirm Password</label>
                        <div class="input-group-text cursor-pointer" (click)="toggleConfirmPasswordVisibility()">
                            <i class="{{confirmPasswordVisibility ? 'icon-eye' : 'icon-eye-hide'}}"></i>
                        </div>
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'required', 'password')">
                            Confirm Password is required.
                        </small>
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'match', 'password')">
                            Password & Confirm Password does not match
                        </small>
                    </div>
                </ng-container>
                <div class="d-grid my-3">
                    <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid"
                            (click)="resetPassword(resetPasswordForm.value)">Reset</button>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" routerLink="/login">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
