<div class="login-screen main-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="right">
                <div class="card">
                    <div class="card-header">
                        <h2>Reset Password</h2>
                    </div>
                    <form class="card-body" [formGroup]="resetPasswordForm" >
                        <div formGroupName="passwords">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control"
                                       formControlName="password"
                                       placeholder="Enter your password">
                                <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'password', 'required', 'password')">
                                    Password is required.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" id="confirm-password" class="form-control"
                                       formControlName="confirmPassword"
                                       placeholder="Confirm Password">
                                <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'required', 'password')">
                                   Confirm Password is required.
                                </small>
                                <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'match', 'password')">
                                    Password & Confirm Password does not match
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" [disabled]="resetPasswordForm.invalid" (click)="resetPassword(resetPasswordForm.value)">Reset</button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
