<div class="main-wrapper">
    <div class="left">
        <img src="./assets/images/svg/book-lock.svg" alt="Login image">
    </div>
    <div class="right">
        <div class="right-container">
            <h4 class="text-center m-0 mb-4">Reset Password</h4>
            <form class="card-body" [formGroup]="resetPasswordForm" >

                <ng-container formGroupName="passwords">
                    <div class="form-floating">
                        <input type="password" id="password" class="form-control"
                               formControlName="password"
                               placeholder="Enter your password">
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'password', 'required', 'password')">
                            Password is required.
                        </small>
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" id="confirm-password" class="form-control"
                               formControlName="confirmPassword"
                               placeholder="Confirm Password">
                        <label for="confirm-password">Confirm Password</label>
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'required', 'password')">
                            Confirm Password is required.
                        </small>
                        <small *ngIf="appUtility.getFormError(resetPasswordForm, 'passwords', 'confirmPassword', 'match', 'password')">
                            Password & Confirm Password does not match
                        </small>
                    </div>
                </ng-container>

                <div class="d-grid mt-3">
                    <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid"
                            (click)="resetPassword(resetPasswordForm.value)">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
