.login-screen.main-wrapper > .card {
    min-height: 400px;
    min-width: 550px;
}

.login-screen.main-wrapper > .card > .card-body .right {
    width: 100%;
    padding: 0 30px;
}

.login-screen.main-wrapper > .card > .card-body .right .card .card-header {
    margin-bottom: 20px;
}

.login-screen.main-wrapper > .card > .card-body .right .card .card-header h2 {
    text-align: center;
}

.login-screen.main-wrapper > .card > .card-body .right .card .card-body .form-group:last-child {
    margin-bottom: 1.5rem;
}
