<layout-component [showDisplayButtons]="true">
    <ng-container actionItems>
        <button class="btn btn-sm btn-secondary" (click)="uploadMenu.toggle($event)">
            <p-tieredMenu appendTo="body" #uploadMenu [model]="uploadMenuItems" [popup]="true"></p-tieredMenu>
            <i class="icon-upload"></i>
            Upload
            <i class="icon-arrow-down"></i>
        </button>
        <button class="btn btn-sm btn-primary" (click)="createMenu.toggle($event)">
            <p-tieredMenu appendTo="body" #createMenu [model]="createMenuItems" [popup]="true"></p-tieredMenu>
            <i class="icon-plus"></i>
            Create
            <i class="icon-arrow-down"></i>
        </button>
        <button class="btn btn-sm btn-primary" [disabled]="true">
            <i class="icon-manage"></i>
            Manage
        </button>
        <button class="btn btn-sm btn-primary" [disabled]="true">
            <i class="icon-share"></i>
            Share
        </button>
    </ng-container>
    <ng-container pageBody>
        <data-table-component #docDataTableComponent [actionItems]="menuItems" [dlDocuments]="dlDocuments" (folderEvent)="receiveDirID($event)">

        </data-table-component>

    </ng-container>
    <ng-container docInfoPane>
        <doc-info-pane-component [ngClass]="showDocInfoPane ? 'collapsed': ''"  [selectedDocId]="docDataTable?.selectedDocumentId"></doc-info-pane-component>
    </ng-container>
    <!-- <ng-container fileUploader>
         <file-uploader-component></file-uploader-component>
     </ng-container>-->
</layout-component>

<p-dialog [(visible)]="visibleAddFolderDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Create Folder</span>
        </div>
    </ng-template>
    <form [formGroup]="addFolderForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(addFolderForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(addFolderForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 17) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-sm btn-danger me-2" (click)="hideAddFolderPopup()">Cancel</button>
        <button class="btn btn-sm btn-primary" type="button" [disabled]="addFolderForm.invalid"
                (click)="createFolder()">
            Create
        </button>
    </ng-template>
</p-dialog>
<!--<p-dialog [(visible)]="visibleAddFileDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Create Text File</span>
        </div>
    </ng-template>
    <form [formGroup]="addFileForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(addFileForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(addFileForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 17) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-sm btn-danger me-2" (click)="hideAddFilePopup()">Cancel</button>
        <button class="btn btn-sm btn-primary" type="button" [disabled]="addFileForm.invalid">Create</button>
    </ng-template>
</p-dialog>-->

<ng-container>
    <input #fileUpload (change)="uploadFile($event)" class="form-control" id="file"
           onclick="this.value = null" type="file" [hidden]="true">
    <input #folderUpload (change)="uploadFolder($event)" class="form-control" id="folder"
           onclick="this.value = null" type="file" webkitdirectory directory multiple [hidden]="true">
</ng-container>
