<section class="main-page-wrapper">
    <div [ngClass]="showDocInfoPane ? 'collapsed' : ''" class="left">
        <div>
            <header class="page-header">
                <div class="title-and-action-items">
                    <ng-container>
                        <h3 class="title">{{title}}</h3>
                    </ng-container>
                    <div class="action-items">
                        <button (click)="uploadMenu.toggle($event)" class="btn btn-sm btn-secondary">
                            <p-tieredMenu #uploadMenu [model]="uploadMenuItems" [popup]="true"
                                          appendTo="body"></p-tieredMenu>
                            <i class="icon-upload"></i>
                            Upload
                            <i class="icon-arrow-down"></i>
                        </button>
                        <button (click)="createMenu.toggle($event)" class="btn btn-sm btn-primary">
                            <p-tieredMenu #createMenu [model]="createMenuItems" [popup]="true"
                                          appendTo="body"></p-tieredMenu>
                            <i class="icon-plus"></i>
                            Create
                            <i class="icon-arrow-down"></i>
                        </button>
                        <button (click)="showShareDocumentDialog(selectedDoc)" [disabled]="!selectedDoc.id"
                                class="btn btn-sm btn-primary">
                            <i class="icon-share"></i>
                            Share
                        </button>
                    </div>
                </div>
                <div class="container-breadcrumb-and-list-view">
                    <ng-container *ngIf="breadcrumbs.length > 0">
                        <div class="breadcrumbs-container">
                            <ol class="breadcrumb">
                                <ng-container
                                    *ngFor="let breadcrumb of breadcrumbs; let firstIndex = first; let lastIndex = last; let index = index;">
                                    <ng-container *ngIf="breadcrumbs.length > breadcrumbItemsToShow && firstIndex">
                                        <li (click)="menu.toggle($event)" class="breadcrumb-item">
                                            <p-tieredMenu #menu [model]="breadcrumbCollapsedItems" [popup]="true"
                                                          appendTo="body"></p-tieredMenu>
                                            <i class="icon-menu-horizontal" role="button"></i>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="index >= breadcrumbs.length -breadcrumbItemsToShow">
                                        <li [ngClass]="breadcrumb.active ? 'active' : ''" class="breadcrumb-item">
                                            <ng-container *ngIf="lastIndex; else elseBlock">
                                                <a>{{breadcrumb.label}}</a>
                                            </ng-container>
                                            <ng-template #elseBlock>
                                                <a (click)="navigateToRoute(breadcrumb, index)" role="button">
                                                    {{breadcrumb.label}}
                                                </a>
                                            </ng-template>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ol>
                        </div>
                    </ng-container>
                    <div class="btn-group input-group-display-listing">
                        <button (click)="setGridDisplay()" [ngClass]="showGridDisplay ? 'active': ''"
                                class="btn btn-primary">
                            <i class="icon-display-grid"></i>
                        </button>
                        <button (click)="setListDisplay()" [ngClass]="showGridDisplay ? '': 'active'"
                                class="btn btn-primary">
                            <i class="icon-display-listing"></i>
                        </button>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <ng-container *ngIf="showGridDisplay">
                    <div class="grid-view-container">
                        <div class="row row-items">
                            <ng-container *ngFor="let item of dlDocuments">
                                <div class="col-sm-6 col-lg-6 col-xl-3 col-item">
                                    <div class="file-card">
                                        <div class="icon-thumbnail">
                                            <ng-container *ngIf="item.folder == false">
                                                <ng-container
                                                    *ngIf="validExtensions.indexOf(item.extension) > -1; else otherFileElseCase">
                                                    <img alt="{{item.extension}}"
                                                         src="./assets/images/svg/icons/{{item.extension}}.svg">
                                                </ng-container>
                                                <ng-template #otherFileElseCase>
                                                    <img alt="other" src="./assets/images/svg/icons/other.svg">
                                                </ng-template>
                                            </ng-container>
                                            <img *ngIf="item.folder == true && item.shared == null"
                                                 alt="icon" src="./assets/images/svg/icons/folder.svg">
                                            <img *ngIf="item.folder == true && item.shared != null"
                                                 alt="icon"
                                                 src="./assets/images/svg/icons/folder-shared-filled.svg">
                                        </div>
                                        <div class="file-details">
                                            <p (click)="openFolder(item)" class="title" role="button">{{item?.name}}</p>
                                            <p class="date-and-author">
                                                <span>{{item?.updatedOnDetail}} by </span>
                                                <a (click)="openProfile(item)" role="button">{{item?.updatedByName}}</a>
                                            </p>
                                            <p class="file-size">{{item?.size}}</p>
                                        </div>
                                        <button (click)="menu.toggle($event)" class="btn btn-tiered-menu-vertical">
                                            <p-tieredMenu #menu [model]="menuItems" [popup]="true"
                                                          appendTo="body"></p-tieredMenu>
                                            <i class="icon-menu-vertical"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!showGridDisplay">
                    <p-table (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                             [paginator]="true"
                             [rowsPerPageOptions]="[10, 20, 40, 60, 80, 100]" [rows]="10" [value]="dlDocuments"
                             selectionMode="single"
                             styleClass="doc-data-table">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="form-check form-check-only">
                                        <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                                        <label class="form-check-label" for="flexCheckDefault"></label>
                                    </div>
                                </th>
                                <th pSortableColumn="name">Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="updatedOn">Updated
                                    <p-sortIcon field="updatedOn"></p-sortIcon>
                                </th>
                                <th pSortableColumn="size">Size
                                    <p-sortIcon field="size"></p-sortIcon>
                                </th>
                                <th></th>
                                <th class="actions-th"></th>
                            </tr>
                        </ng-template>
                        <ng-template let-row pTemplate="body">
                            <tr [pSelectableRow]="row">
                                <td>
                                    <div class="form-check form-check-only">
                                        <input [attr.id]="'checkbox-' + row.id" [checked]="row.selected"
                                               class="form-check-input"
                                               type="checkbox">
                                        <label [attr.for]="'checkbox-' + row.id" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="file-types">
                                        <ng-container *ngIf="row.folder == false">
                                            <ng-container
                                                *ngIf="validExtensions.indexOf(row.extension) > -1; else otherFileElseCase">
                                                <img alt="{{row.extension}}"
                                                     src="./assets/images/svg/icons/{{row.extension}}.svg">
                                            </ng-container>
                                            <ng-template #otherFileElseCase>
                                                <img alt="other" src="./assets/images/svg/icons/other.svg">
                                            </ng-template>
                                        </ng-container>
                                        <img *ngIf="row.folder == true && row.shared == null" alt="icon"
                                             src="./assets/images/svg/icons/folder.svg">
                                        <img *ngIf="row.folder == true && row.shared != null" alt="icon"
                                             src="./assets/images/svg/icons/folder-shared-filled.svg">
                                        <ng-container *ngIf="row.folder == true; else elseCase">
                                            <span (click)="openFolder(row)" role="button">{{row.name}}</span>
                                        </ng-container>
                                        <ng-template #elseCase>
                                            <span (click)="openFile(row)" role="button">{{row.name}}</span>
                                        </ng-template>
                                    </div>
                                </td>
                                <td>
                                    <span>{{row.updatedOnDetail}} by </span>
                                    <a (click)="openProfile(row)" class="author" role="button">{{row.updatedByName}}</a>
                                </td>
                                <td>{{row.size}}</td>
                                <td>
                                    <div class="form-check form-check-only form-check-star">
                                        <input (change)="favouriteDocument($event, row)" [attr.id]="'stared-' + row.id"
                                               [checked]="row.favourite"
                                               class="form-check-input"
                                               type="checkbox">
                                        <label [attr.for]="'stared-' + row.id" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <button (click)="menu.toggle($event);onMenuClicked(row)"
                                            class="btn btn-tiered-menu">
                                        <p-tieredMenu #menu [model]="menuItems" [popup]="true"
                                                      appendTo="body"></p-tieredMenu>
                                        <i class="icon-menu-horizontal"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>
        <div class="page-footer">
            <ng-content select=[pageFooter]></ng-content>
        </div>
    </div>
    <doc-info-pane-component [ngClass]="showDocInfoPane ? '': 'collapsed'" [docTabs]="previewTabs"
                             [selectedDoc]="selectedDoc">
    </doc-info-pane-component>
    <ng-container *ngIf="files.length > 0">
        <div class="file-uploader-container">
            <div [ngClass]="showFileUploader ? '' : 'collapsed'" class="file-uploader">
                <header>
                    <div class="header-content">
                        <h4>Files are being uploaded</h4>
                        <div class="progress-container">
                            <div class="progress">
                                <div [attr.style]="'width: ' + averageProgress + '%'" aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                                     role="progressbar"
                                     style=""></div>
                            </div>
                            <span>{{averageProgress}}%</span>
                        </div>
                    </div>
                    <div class="action-items">
                        <button (click)="showFileUploaderAction()" class="btn btn-toggle btn-transparent">
                            <i *ngIf="showFileUploader" class="icon-arrow-down"></i>
                            <i *ngIf="!showFileUploader" class="icon-arrow-up"></i>
                        </button>
                        <!--<button class="btn btn-transparent" (click)="removeAllFilesFromList()">
                            <i class="icon-times"></i>
                        </button>-->
                    </div>
                </header>
                <div class="body">
                    <ul>
                        <ng-container *ngFor="let file of files; let index = index;">
                            <li>
                                <div class="file-metadata">
                                    <div class="file-icon-container">
                                        <ng-container
                                            *ngIf="validExtensions.indexOf(file?.orgFile.name.split('.').pop()) > -1; else otherFileElseCase">
                                            <img alt="{{file?.orgFile.name.split('.').pop()}}"
                                                 src="./assets/images/svg/icons/{{file?.orgFile.name.split('.').pop()}}.svg">
                                        </ng-container>
                                        <ng-template #otherFileElseCase>
                                            <img alt="other" src="./assets/images/svg/icons/other.svg">
                                        </ng-template>
                                    </div>
                                    <div class="file-detail">
                                        <div class="info-and-percentage">
                                            <h5>{{file?.orgFile.name}}</h5>
                                            <span class="percentage">{{file.progress}}%</span>
                                        </div>
                                        <div class="progress">
                                            <div [attr.style]="'width: ' + file.progress + '%'" aria-valuemax="100"
                                                 aria-valuemin="0" aria-valuenow="67"
                                                 class="progress-bar" role="progressbar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file-actions">
                                    <button (click)="onCancelClick(index)" class="btn btn-transparent">
                                        <i class="icon-times"></i>
                                    </button>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>

    </ng-container>
</section>

<p-dialog [(visible)]="visibleAddFolderDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-folder"></i>
            <span>Create Folder</span>
        </div>
    </ng-template>
    <form [formGroup]="addFolderForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(addFolderForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(addFolderForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 17) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideAddFolderPopup()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="createFolder()" [disabled]="addFolderForm.invalid" class="btn btn-sm btn-primary"
                type="button">
            Create
        </button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="renameDocumentDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'" class="icon-file"></i>
            <span>Rename {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <form [formGroup]="renameDocumentForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 17) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideRenameDocumentPopup()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="onRenameDocument()" [disabled]="renameDocumentForm.invalid" class="btn btn-sm btn-primary"
                type="button">Update
        </button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="shareDocumentDialog" [modal]="true" styleClass="p-dialog-md">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'" class="icon-file"></i>
            <span>Share {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-container [formGroup]="shareWithUserForm">
        <div class="mb-3">
            <span class="p-float-label">
                <p-dropdown (onChange)="onShareTypeChange()" [options]="shareTypes"
                            formControlName="shareType" id="shareType"></p-dropdown>
                <label for="shareType">General Access</label>
            </span>
        </div>
        <div class="mb-3" *ngIf="shareWithUserForm.get('shareType')?.value !== 'ANYONE'">
            <label for="collaborators">Invite People</label>
            <p-chips (onAdd)="onAddCollaborator($event.value)" [addOnTab]="true"
                     [allowDuplicate]="false" formControlName="collaborators" id="collaborators"></p-chips>
        </div>
        <div class="share-rights-dropdown mb-3">
            <label class="mr-5px">Permissions:</label>
            <p-dropdown [options]="shareSecurityTypes" appendTo="body" formControlName="sharePermission"
                        optionLabel="label"
                        optionValue="value"></p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" formControlName="message" id="message" placeholder="message"></textarea>
            <label for="message">Message</label>
        </div>
        <div>
            <span class="p-float-label">
                <p-dropdown [filter]="true" [options]="departments" [showClear]="true"
                            appendTo="body" filterBy="name" formControlName="departmentId"
                            id="departmentId" optionLabel="name" optionValue="id"
                            placeholder="Select department"></p-dropdown>
                <label class="required" for="departmentId">Department</label>
            </span>
        </div>
        <hr>
        <ng-container *ngIf="shareWithUserForm.get('shareType')?.value === 'ANYONE'">
            <div class="mb-3">
                <label>Share link</label>
                <div class="form-check form-switch">
                    <input (change)="onShareTypeChange();createSharedLinkAction()" [checked]="createSharedLink"
                           class="form-check-input" id="shareLinkSwitch"
                           role="switch"
                           type="checkbox">
                    <label class="form-check-label" for="shareLinkSwitch">
                        <span>Create shared link</span>
                    </label>
                </div>
            </div>
            <ng-container *ngIf="createSharedLink">
                <div class="input-group mb-1">
                    <input #shareLinkInput [readOnly]="true" class="form-control" formControlName="publicUrlLink"
                           type="text">
                    <div class="input-group-text">
                        <button (click)="copyLinkToClipboard(shareLinkInput)" class="btn btn-sm btn-transparent">Copy
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template pTemplate="footer">
        <button (click)="hideShareDocumentDialog()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="onShare(shareWithUserForm.value)" class="btn btn-sm btn-primary"
                type="button">Share
        </button>
    </ng-template>
</p-dialog>

<p-confirmDialog #cd styleClass="dialog-danger">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'" class="icon-file"></i>
            <span>Delete {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="cd.reject()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="cd.accept()" class="btn btn-sm btn-primary">Delete</button>
    </ng-template>
</p-confirmDialog>
<ng-container>
    <input #fileUpload (change)="onUploadProcessStarted($event)" [hidden]="true" [multiple]="true" class="form-control"
           id="files" onclick="this.value = null" type="file">
    <input #folderUpload (change)="uploadFolder($event)" [hidden]="true" class="form-control"
           directory id="folder" multiple onclick="this.value = null" type="file" webkitdirectory>
</ng-container>
