<section class="main-page-wrapper">
    <div class="left">
        <div>
            <header class="page-header">
                <h3 class="title">Home</h3>
                <p class="desc">Hello {{userInfo?.name}}, Welcome back!</p>
            </header>
            <div class="page-body">
                <div class="home-template">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-3 mb-xl-0">
                            <div class="card card-aqua">
                                <div class="card-body">
                                    <div>
                                        <h6>Images</h6>
                                        <i class="icon-image"></i>
                                    </div>
                                    <p>
                                        <span>{{dashboardStats?.imageProps?.formattedOccupiedSize}}</span>
                                        <span>{{dashboardStats?.imageProps?.formattedTotalSize}}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Images"
                                             [style.width.%]="dashboardStats?.imageProps?.occupiedPercentage"
                                             [attr.aria-valuenow]="dashboardStats?.imageProps?.occupiedPercentage"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-3 mb-xl-0">
                            <div class="card card-blue">
                                <div class="card-body">
                                    <div>
                                        <h6>Videos</h6>
                                        <i class="icon-videos-filled"></i>
                                    </div>
                                    <p>
                                        <span>{{dashboardStats?.videosProps?.formattedOccupiedSize}}</span>
                                        <span>{{dashboardStats?.videosProps?.formattedTotalSize}}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Videos"
                                             [style.width.%]="dashboardStats?.videosProps?.occupiedPercentage"
                                             [attr.aria-valuenow]="dashboardStats?.videosProps?.occupiedPercentage"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-0 mb-xl-0">
                            <div class="card card-yellow">
                                <div class="card-body">
                                    <div>
                                        <h6>Documents</h6>
                                        <i class="icon-file-filled"></i>
                                    </div>
                                    <p>
                                        <span>{{dashboardStats?.docsProps?.formattedOccupiedSize}}</span>
                                        <span>{{dashboardStats?.docsProps?.formattedTotalSize}}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Documents"
                                             [style.width.%]="dashboardStats?.docsProps?.occupiedPercentage"
                                             [attr.aria-valuenow]="dashboardStats?.docsProps?.occupiedPercentage"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3">
                            <div class="card card-red">
                                <div class="card-body">
                                    <div>
                                        <h6>Others</h6>
                                        <i class="icon-folder-filled"></i>
                                    </div>
                                    <p>
                                        <span>{{dashboardStats?.othersProps?.formattedOccupiedSize}}</span>
                                        <span>{{dashboardStats?.othersProps?.formattedTotalSize}}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Others"
                                             [style.width.%]="dashboardStats?.othersProps?.occupiedPercentage"
                                             [attr.aria-valuenow]="dashboardStats?.othersProps?.occupiedPercentage"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-items">
                        <div class="col-12">
                            <h2 class="home-h2">Recent Documents</h2>
                        </div>
                        <ng-container *ngFor="let gridItem of recentDocs">
                            <div class="col-sm-6 col-lg-6 col-xl-3 col-item">
                                <div class="file-card">
                                    <div class="icon-thumbnail">
                                        <ng-container *ngIf="gridItem.folder == false">
                                            <ng-container
                                                *ngIf="validExtensions.indexOf(gridItem.extension) > -1; else otherFileElseCase">
                                                <img src="./assets/images/svg/icons/{{gridItem.extension}}.svg"
                                                     alt="{{gridItem.extension}}">
                                            </ng-container>
                                            <ng-template #otherFileElseCase>
                                                <img src="./assets/images/svg/icons/other.svg" alt="other">
                                            </ng-template>
                                        </ng-container>
                                        <img *ngIf="gridItem.folder == true" src="./assets/images/svg/icons/folder.svg"
                                             alt="icon">
                                    </div>
                                    <div class="file-details">
                                        <p class="title" role="button" (click)="openFile(gridItem)">{{gridItem?.name | truncate: 40}}<span *ngIf="gridItem?.name.length > 40">{{gridItem?.name.substring(gridItem?.name.lastIndexOf('.') + 1)}}</span></p>
                                        <p class="date-and-author">
                                            <span>{{gridItem?.updatedOn | date:'mediumDate'}} by </span>
                                            <a role="button"
                                               (click)="openProfile(gridItem)">{{gridItem?.updatedByName}}</a>
                                        </p>
                                        <p class="file-size">{{gridItem?.size}}</p>
                                    </div>
                                    <button class="btn btn-tiered-menu-vertical"
                                            (click)="menu.toggle($event);onMenuClicked(gridItem)">
                                        <p-tieredMenu #menu [model]="menuItems" appendTo="body"
                                                      [popup]="true">
                                        </p-tieredMenu>
                                        <i class="icon-menu-vertical"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-dialog [(visible)]="renameDocumentDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-file" [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'"></i>
            <span>Rename {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <form [formGroup]="renameDocumentForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 255) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-sm btn-danger me-2" (click)="hideRenameDocumentPopup()">Cancel</button>
        <button class="btn btn-sm btn-primary" type="button" [disabled]="renameDocumentForm.invalid"
                (click)="onRenameDocument()">Update
        </button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="shareDocumentDialog" [modal]="true" styleClass="p-dialog-md">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'" class="icon-file"></i>
            <span>Share {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-container [formGroup]="shareWithUserForm">
        <div class="mb-3">
            <span class="p-float-label">
                <p-dropdown (onChange)="onShareTypeChange()" [options]="shareTypes"
                            formControlName="shareType" id="shareType"></p-dropdown>
                <label for="shareType">General Access</label>
            </span>
        </div>
        <div *ngIf="shareWithUserForm.get('shareType')?.value !== 'ANYONE'" class="mb-3">
            <label for="collaborators">Enter Email</label>
            <p-chips (onAdd)="onAddCollaborator($event.value)" [addOnTab]="true"
                     [allowDuplicate]="false" formControlName="collaborators" id="collaborators"></p-chips>
        </div>
        <div class="share-rights-dropdown mb-3">
            <label class="mr-5px">Permissions:</label>
            <p-dropdown [options]="shareSecurityTypes" appendTo="body" formControlName="sharePermission">
                <ng-template let-item pTemplate="selectedItem">
                    {{item.label}}
                </ng-template>
                <ng-template let-caption pTemplate="item">
                    <div [pTooltip]="caption.detail">
                        <li>
                            <span class="item-value1">{{caption.label}}</span>
                        </li>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <!--<div class="form-floating mb-3">
            <textarea class="form-control" formControlName="message" id="message" placeholder="message"></textarea>
            <label for="message">Message</label>
        </div>-->
        <div>
            <span class="p-float-label">
                <p-dropdown [filter]="true" [options]="departments" [showClear]="true"
                            appendTo="body" filterBy="name" formControlName="departmentId"
                            id="departmentId" optionLabel="name" optionValue="id"
                            placeholder="Select department"></p-dropdown>
                <label class="required" for="departmentId">Department</label>
            </span>
        </div>
        <hr>
        <ng-container *ngIf="shareWithUserForm.get('shareType')?.value === 'ANYONE'">
            <div class="mb-3">
                <label>Share link</label>
                <div class="form-check form-switch">
                    <input (change)="onShareTypeChange();createSharedLinkAction()" [checked]="createSharedLink"
                           class="form-check-input" id="shareLinkSwitch"
                           role="switch"
                           type="checkbox">
                    <label class="form-check-label" for="shareLinkSwitch">
                        <span>Create shared link</span>
                    </label>
                </div>
            </div>
            <ng-container *ngIf="createSharedLink">
                <div class="input-group mb-1">
                    <input #shareLinkInput [readOnly]="true" class="form-control" formControlName="publicUrlLink"
                           type="text">
                    <div class="input-group-text">
                        <button (click)="copyLinkToClipboard(shareLinkInput)" class="btn btn-sm btn-transparent">Copy
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-6 text-start">
                <button (click)="onUnShareDocument(selectedDoc)" *ngIf="selectedDoc?.shared"
                        class="btn btn-sm btn-primary me-2">Remove Sharing
                </button>
            </div>
            <div class="col-6 text-right">
                <button (click)="hideShareDocumentDialog()" class="btn btn-sm btn-danger me-2">Cancel</button>
                <button (click)="onShare(shareWithUserForm.value)" class="btn btn-sm btn-primary"
                        type="button">Share
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-confirmDialog #cd styleClass="dialog-danger">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-file" [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'"></i>
            <span>Delete {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="cd.reject()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="cd.accept()" class="btn btn-sm btn-primary">Delete</button>
    </ng-template>
</p-confirmDialog>

