<section class="main-page-wrapper">
    <div class="left">
        <div>
            <header class="page-header">
                <h3 class="title">Home</h3>
                <p class="desc">Hello {{userInfo?.name}}, Welcome back!</p>
            </header>
            <div class="page-body">
                <div class="home-template">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-3 mb-xl-0">
                            <div class="card card-aqua">
                                <div class="card-body">
                                    <div>
                                        <h6>Images</h6>
                                        <i class="icon-image"></i>
                                    </div>
                                    <p>
                                        <span>840.2 MB</span>
                                        <span>14 GB</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                             style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-3 mb-xl-0">
                            <div class="card card-blue">
                                <div class="card-body">
                                    <div>
                                        <h6>Videos</h6>
                                        <i class="icon-videos-filled"></i>
                                    </div>
                                    <p>
                                        <span>840.2 MB</span>
                                        <span>14 GB</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                             style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mb-3 mb-sm-0 mb-xl-0">
                            <div class="card card-yellow">
                                <div class="card-body">
                                    <div>
                                        <h6>Documents</h6>
                                        <i class="icon-file-filled"></i>
                                    </div>
                                    <p>
                                        <span>840.2 MB</span>
                                        <span>14 GB</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                             style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3">
                            <div class="card card-red">
                                <div class="card-body">
                                    <div>
                                        <h6>Others</h6>
                                        <i class="icon-folder-filled"></i>
                                    </div>
                                    <p>
                                        <span>840.2 MB</span>
                                        <span>14 GB</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                             style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-items">
                        <div class="col-12">
                            <h2 class="home-h2">Recent Documents</h2>
                        </div>
                        <ng-container *ngFor="let gridItem of recentDocs">
                            <div class="col-sm-6 col-lg-6 col-xl-3 col-item">
                                <div class="file-card">
                                    <div class="icon-thumbnail">
                                        <ng-container *ngIf="gridItem.folder == false">
                                            <ng-container *ngIf="validExtensions.indexOf(gridItem.extension) > -1; else otherFileElseCase">
                                                <img  src="./assets/images/svg/icons/{{gridItem.extension}}.svg" alt="{{gridItem.extension}}">
                                            </ng-container>
                                            <ng-template #otherFileElseCase>
                                                <img src="./assets/images/svg/icons/other.svg" alt="other">
                                            </ng-template>
                                        </ng-container>
                                        <img *ngIf="gridItem.folder == true" src="./assets/images/svg/icons/folder.svg" alt="icon">
                                    </div>
                                    <div class="file-details">
                                        <p class="title">{{gridItem?.name}}</p>
                                        <p class="date-and-author">
                                            <span>{{gridItem?.updatedOn | date:'mediumDate'}} by </span>
                                            <a role="button" routerLink="/link">{{gridItem?.updatedByName}}</a>
                                        </p>
                                        <p class="file-size">{{gridItem?.size}}</p>
                                    </div>
                                    <button class="btn btn-tiered-menu-vertical" (click)="menu.toggle($event);onMenuClicked(gridItem)">
                                        <p-tieredMenu #menu [model]="menuItems" appendTo="body" [popup]="true"></p-tieredMenu>
                                        <i class="icon-menu-vertical"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-dialog [(visible)]="renameDocumentDialog" [modal]="true" styleClass="">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-file" [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'"></i>
            <span>Rename {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <form [formGroup]="renameDocumentForm">
        <div class="row">
            <div class="col mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(renameDocumentForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 17) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-sm btn-danger me-2" (click)="hideRenameDocumentPopup()">Cancel</button>
        <button class="btn btn-sm btn-primary" type="button" [disabled]="renameDocumentForm.invalid"
                (click)="onRenameDocument()">Update
        </button>
    </ng-template>
</p-dialog>
<p-confirmDialog #cd styleClass="dialog-danger">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-file" [ngClass]="selectedDoc.folder == true ? 'icon-folder' : 'icon-file'"></i>
            <span>Delete {{ selectedDoc.folder == true ? 'Folder' : 'File' }}</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="cd.reject()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="cd.accept()" class="btn btn-sm btn-primary">Delete</button>
    </ng-template>
</p-confirmDialog>

