<div class="main-wrapper">
    <div class="left">
        <img src="../../../../assets/images/svg/book-lock.svg" alt="Login image">
    </div>
    <div class="right">
        <div class="right-container">
            <div class="text-center main-logo">
                <img src="../../../../assets/images/login-logo.png" alt="Brand logo">
            </div>
            <form (ngSubmit)="login(loginFrom.value)" [formGroup]="loginFrom">
                <div class="form-floating">
                    <input type="text" class="form-control" id="businessCode" placeholder="Business code">
                    <label for="businessCode">Business code</label>
                    <div class="input-group-text">
                        <i class="icon-qr-code"></i>
                    </div>
                </div>
                <div class="form-floating mt-3">
                    <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
                    <label for="username" class="required">Username</label>
                    <div class="input-group-text">
                        <i class="icon-at"></i>
                    </div>
                    <small *ngIf="loginFrom.get('username')?.errors && loginFrom.get('username')?.touched"
                           class="error-msg">
                        Enter username
                    </small>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control" formControlName="password" autocomplete="new-password" id="password" placeholder="Password">
                    <label for="password" class="required">Password</label>
                    <div class="input-group-text">
                        <i class="icon-lock"></i>
                    </div>
                    <small *ngIf="loginFrom.get('password')?.errors && loginFrom.get('password')?.touched"
                           class="error-msg">
                        Enter password
                    </small>
                </div>
                <div class="my-3 d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <a role="button">Forgot Password</a>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" (click)="login(loginFrom.value)" [disabled]="loginFrom.invalid">Login</button>
                </div>
            </form>
            <hr>
            <p class="text-center">
                Don’t have an account yet?
                <a role="button" class="fw-bold">Sign Up</a>
            </p>
        </div>
    </div>
</div>
