<div class="main-wrapper">
    <div class="left">
        <img src="../../../../assets/images/svg/book-lock.svg" alt="Login image">
    </div>
    <div class="right">
        <div class="right-container">
            <div class="text-center main-logo">
                <img src="../../../../assets/images/login-logo.png" alt="Brand logo">
            </div>
            <form class="card-body" [formGroup]="forgotPasswordForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control"
                           id="email"
                           formControlName="email"
                           placeholder="email">
                    <small *ngIf="appUtility.getFormError(forgotPasswordForm, 'email', 'email', 'required')">
                        {{ appUtility.makeErrorMessage('Email', 'required') }}
                    </small>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" (click)="forgotPassword(forgotPasswordForm.value)" [disabled]="forgotPasswordForm.invalid">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>
