<div class="storage-container">
    <div class="storage-container-inner">
        <p class="storage-header">
            <i class="icon-hard-drive"></i>
            <span>Storage</span>
        </p>
        <div class="progress">
            <div class="progress-bar bg-light" role="progressbar" aria-label="Basic example" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="space-used-viewer">{{usedSpace}} of 50 GB used</p>
        <button class="btn w-100">Buy storage</button>
    </div>
</div>
