<layout-component>
    <ng-container actionItems>
        <button (click)="showAddPopupAction()" class="btn btn-sm btn-primary">
            <i class="icon-plus"></i> Add
        </button>
        <button (click)="showSearchPopupAction()" class="btn btn-sm btn-secondary">
            <i class="icon-search"></i> Search
        </button>
    </ng-container>
    <ng-container pageBody>
        <p-table [value]="roles">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">Code
                        <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status">Status
                        <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th class="actions">Action</th>
                </tr>
            </ng-template>
            <ng-template let-row pTemplate="body">
                <tr [ngClass]="row.selected ? 'p-highlight' : ''" [pSelectableRow]="row">
                    <td>{{row.code}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.status}}</td>
                    <td>
                        <button (click)="menu.toggle($event);onMenuClicked(row)" class="btn btn-tiered-menu">
                            <p-tieredMenu #menu [model]="actionItems" [popup]="true" appendTo="body"></p-tieredMenu>
                            <i class="icon-menu-horizontal"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="4" class="text-center">
                        {{message}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</layout-component>

<p-dialog [(visible)]="searchDialog" [modal]="true" styleClass="p-dialog-lg">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Search Role</span>
        </div>
    </ng-template>
    <form [formGroup]="searchRoleForm">
        <div class="row">
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="code" placeholder="Code" type="text">
                    <label>Code</label>
                </div>
                <small *ngIf="appUtility.getFormError(searchRoleForm, 'code', 'code', 'required')">
                    {{ appUtility.makeErrorMessage('Code', 'required') }}
                </small>
            </div>
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="col-6 mb-3">
                <span class="p-float-label">
                    <p-dropdown inputId="status" [options]="statuses" formControlName="status" appendTo="body" optionLabel="value" optionValue="value"></p-dropdown>
                    <label for="status">Status</label>
                </span>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideSearchPopupAction()" class="btn btn-sm btn-danger me-2">Close</button>
        <button (click)="searchRoles()" class="btn btn-sm btn-primary" type="button">Search</button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="viewDialog" [modal]="true" styleClass="p-dialog-lg">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>View Role</span>
        </div>
    </ng-template>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{selectedRole.code}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{selectedRole.name}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{selectedRole.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="hideViewPopupAction()" class="btn btn-sm btn-danger me-2">Close</button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="addDialog" [modal]="true" styleClass="p-dialog-lg">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Add Role</span>
        </div>
    </ng-template>
    <form [formGroup]="addRoleForm">
        <div class="row">
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="code" placeholder="Code" type="text">
                    <label>Code</label>
                </div>
                <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'required')">
                    {{ appUtility.makeErrorMessage('Code', 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Code', 'maxlength', 17) }}
                </small>
            </div>
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 50) }}
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideAddPopupAction()" class="btn btn-sm btn-danger me-2">Close</button>
        <button (click)="createRole()" [disabled]="addRoleForm.invalid" class="btn btn-sm btn-primary" type="button">Add
        </button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="updateDialog" [modal]="true" styleClass="p-dialog-lg">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Update Role</span>
        </div>
    </ng-template>
    <form [formGroup]="updateRoleForm">
        <div class="row">
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="code" placeholder="Code" type="text">
                    <label>Code</label>
                </div>
                <small *ngIf="appUtility.getFormError(updateRoleForm, 'code', 'code', 'required')">
                    {{ appUtility.makeErrorMessage('Code', 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(updateRoleForm, 'code', 'code', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Code', 'maxlength', 17) }}
                </small>
            </div>
            <div class="col-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    <label>Name</label>
                </div>
                <small *ngIf="appUtility.getFormError(updateRoleForm, 'name', 'name', 'required')">
                    {{ appUtility.makeErrorMessage("Name", 'required') }}
                </small>
                <small *ngIf="appUtility.getFormError(updateRoleForm, 'name', 'name', 'maxlength')">
                    {{ appUtility.makeErrorMessage('Name', 'maxlength', 50) }}
                </small>
            </div>
            <div class="col-6 mb-3">
                <div class="">
                    <label class="d-block">Name</label>
                    <p-dropdown [options]="statuses" formControlName="status" appendTo="body" optionLabel="value" optionValue="value" [filter]="false">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="hideUpdatePopupAction()" class="btn btn-sm btn-danger me-2">Close</button>
        <button (click)="updateRole()" [disabled]="updateRoleForm.invalid" class="btn btn-sm btn-primary" type="button">Update
        </button>
    </ng-template>
</p-dialog>


<p-confirmDialog #cd styleClass="dialog-danger">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Delete department</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="cd.reject()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="cd.accept()" class="btn btn-sm btn-primary">Delete</button>
    </ng-template>
</p-confirmDialog>
