<layout-component>
    <ng-container pageBody>
        <fieldset>
            <header></header>
            <form [formGroup]="addRoleForm">
                <div class="row">
                    <div class="col-3 mb-3">
                        <div class="form-floating">
                            <input class="form-control" formControlName="code" id="code" placeholder="Code" type="text">
                            <label for="code">Code</label>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'required')">
                                {{ appUtility.makeErrorMessage('Code', 'required') }}
                            </small>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'maxlength')">
                                {{ appUtility.makeErrorMessage('Code', 'maxlength', 17) }}
                            </small>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="form-floating">
                            <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                            <label for="name">Name</label>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'required')">
                                {{ appUtility.makeErrorMessage('Name', 'required') }}
                            </small>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'maxlength')">
                                {{ appUtility.makeErrorMessage('Name', 'maxlength', 35) }}
                            </small>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <span class="p-float-label">
                            <p-dropdown [options]="statuses" appendTo="body" formControlName="status" id="status"
                                        optionLabel="value" optionValue="value"></p-dropdown>
                            <label for="status">Status</label>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'status', 'status', 'required')">
                                {{ appUtility.makeErrorMessage('Status', 'required') }}
                            </small>
                        </span>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" formControlName="remarks" id="remarks"
                                      placeholder="Remarks"></textarea>
                            <label for="remarks">Remarks</label>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'remarks', 'remarks', 'maxlength')">
                                {{ appUtility.makeErrorMessage("Remarks", 'maxlength', 256) }}
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>

        <fieldset class="mt-30px">
            <header>Permissions</header>
            <p-accordion styleClass="mb-3">
                <p-accordionTab [selected]="true" header="User Management">
                    <table class="table table-striped table-permissions">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="umAll" type="checkbox" value="">
                                    <label class="form-check-label" for="umAll"></label>
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Create</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                            <th>Lock/Unlock</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="user" type="checkbox" value="">
                                    <label class="form-check-label" for="user"></label>
                                </div>
                            </td>
                            <td>
                                <i class="icon-user"></i>
                                <span>User</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="check1" type="checkbox" value="">
                                    <label class="form-check-label" for="check1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="check2" type="checkbox" value="">
                                    <label class="form-check-label" for="check2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="check3" type="checkbox" value="">
                                    <label class="form-check-label" for="check3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="check4" type="checkbox" value="">
                                    <label class="form-check-label" for="check4"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="check5" type="checkbox" value="">
                                    <label class="form-check-label" for="check5"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="role" type="checkbox" value="">
                                    <label class="form-check-label" for="role"></label>
                                </div>
                            </td>
                            <td>
                                <i class="icon-role"></i>
                                <span>Roles</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="role1" type="checkbox" value="">
                                    <label class="form-check-label" for="role1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="role2" type="checkbox" value="">
                                    <label class="form-check-label" for="role2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="role3" type="checkbox" value="">
                                    <label class="form-check-label" for="role3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="role4" type="checkbox" value="">
                                    <label class="form-check-label" for="role4"></label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="groups" type="checkbox" value="">
                                    <label class="form-check-label" for="groups"></label>
                                </div>
                            </td>
                            <td>
                                <i class="icon-role"></i>
                                <span>Groups</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="group1" type="checkbox" value="">
                                    <label class="form-check-label" for="group1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="group2" type="checkbox" value="">
                                    <label class="form-check-label" for="group2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="group3" type="checkbox" value="">
                                    <label class="form-check-label" for="group3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="group4" type="checkbox" value="">
                                    <label class="form-check-label" for="group4"></label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </p-accordionTab>
                <p-accordionTab header="Permissions">
                    <table class="table table-striped table-permissions">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="permissionAll" type="checkbox" value="">
                                    <label class="form-check-label" for="permissionAll"></label>
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Link Permissions</th>
                            <th>Modify Permissions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="permAll" type="checkbox" value="">
                                    <label class="form-check-label" for="permAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-permission"></i>
                                <span>Permissions</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="perm1" type="checkbox" value="">
                                    <label class="form-check-label" for="perm1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="perm2" type="checkbox" value="">
                                    <label class="form-check-label" for="perm2"></label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </p-accordionTab>
                <p-accordionTab header="Reference">
                    <table class="table table-striped table-permissions">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="refAll" type="checkbox" value="">
                                    <label class="form-check-label" for="refAll"></label>
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Create</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="refTableAll" type="checkbox" value="">
                                    <label class="form-check-label" for="refTableAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-link-filled"></i>
                                <span>Reference Tables</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="ref1" type="checkbox" value="">
                                    <label class="form-check-label" for="ref1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="ref2" type="checkbox" value="">
                                    <label class="form-check-label" for="ref2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="ref3" type="checkbox" value="">
                                    <label class="form-check-label" for="ref3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="ref4" type="checkbox" value="">
                                    <label class="form-check-label" for="ref4"></label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </p-accordionTab>
                <p-accordionTab header="Document Operations">
                    <table class="table table-striped table-permissions">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="docAll" type="checkbox" value="">
                                    <label class="form-check-label" for="docAll"></label>
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Create</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                            <th>Upload</th>
                            <th>Add</th>
                            <th>Star</th>
                            <th>Share</th>
                            <th>Convert</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="folderAll" type="checkbox" value="">
                                    <label class="form-check-label" for="folderAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-folder"></i>
                                <span>Folder</span>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="folder1" type="checkbox" value="">
                                    <label class="form-check-label" for="folder1"></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="folder2" type="checkbox" value="">
                                    <label class="form-check-label" for="folder2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="folder3" type="checkbox" value="">
                                    <label class="form-check-label" for="folder3"></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="folder4" type="checkbox" value="">
                                    <label class="form-check-label" for="folder4"></label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="fileAll" type="checkbox" value="">
                                    <label class="form-check-label" for="fileAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-file"></i>
                                <span>File</span>
                            </td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file1" type="checkbox" value="">
                                    <label class="form-check-label" for="file1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file2" type="checkbox" value="">
                                    <label class="form-check-label" for="file2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file3" type="checkbox" value="">
                                    <label class="form-check-label" for="file3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file4" type="checkbox" value="">
                                    <label class="form-check-label" for="file4"></label>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file5" type="checkbox" value="">
                                    <label class="form-check-label" for="file5"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file6" type="checkbox" value="">
                                    <label class="form-check-label" for="file6"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="file7" type="checkbox" value="">
                                    <label class="form-check-label" for="file7"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="commentAll" type="checkbox" value="">
                                    <label class="form-check-label" for="commentAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-comments"></i>
                                <span>Comments</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="comments" type="checkbox" value="">
                                    <label class="form-check-label" for="comments"></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="tagsAll" type="checkbox" value="">
                                    <label class="form-check-label" for="tagsAll"></label>
                                </div>
                            </th>
                            <td>
                                <i class="icon-properties"></i>
                                <span>Tags</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="form-check form-check-only">
                                    <input class="form-check-input" id="tags" type="checkbox" value="">
                                    <label class="form-check-label" for="tags"></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </p-accordionTab>
            </p-accordion>
        </fieldset>
    </ng-container>
    <ng-container pageFooter>
        <button class="btn btn-sm btn-danger" routerLink="/setting/um/role">Cancel</button>
        <button class="btn btn-sm btn-primary" type="button" [disabled]="addRoleForm.invalid" (click)="createRole()">Add Role</button>
    </ng-container>
</layout-component>
