<section class="main-page-wrapper">
    <div class="left">
        <div>
            <header class="page-header">
                <div class="title-and-action-items">
                    <h3 class="title">{{title}}</h3>
                </div>
                <div class="container-breadcrumb-and-list-view">
                    <ng-container *ngIf="breadcrumbs.length > 0">
                        <ol class="breadcrumb">
                            <ng-container *ngFor="let breadcrumb of breadcrumbs; let lastIndex = last;">
                                <li class="breadcrumb-item" [ngClass]="breadcrumb.active ? 'active' : ''">
                                    <a type="button" [routerLink]="breadcrumb.route">
                                        {{breadcrumb.label}}
                                    </a>
                                </li>
                            </ng-container>
                        </ol>
                    </ng-container>
                </div>
            </header>

            <div class="page-body">
                <fieldset>
                    <header></header>
                    <form [formGroup]="addRoleForm">
                        <div class="row">
                            <div class="col-3 mb-3">
                                <div class="form-floating">
                                    <input class="form-control" formControlName="code" id="code" placeholder="Code" type="text">
                                    <label for="code" class="required">Code</label>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'required')">
                                        {{ appUtility.makeErrorMessage('Code', 'required') }}
                                    </small>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'maxlength')">
                                        {{ appUtility.makeErrorMessage('Code', 'maxlength', 17) }}
                                    </small>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'code', 'code', 'pattern')">
                                        {{ appUtility.makeErrorMessage('Code', 'onlySpace') }}
                                    </small>
                                </div>
                            </div>
                            <div class="col-3 mb-3">
                                <div class="form-floating">
                                    <input class="form-control" formControlName="name" id="name" placeholder="Name" type="text">
                                    <label for="name" class="required">Name</label>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'required')">
                                        {{ appUtility.makeErrorMessage('Name', 'required') }}
                                    </small>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'maxlength')">
                                        {{ appUtility.makeErrorMessage('Name', 'maxlength', 35) }}
                                    </small>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'name', 'name', 'pattern')">
                                        {{ appUtility.makeErrorMessage('Name', 'onlySpace') }}
                                    </small>
                                </div>
                            </div>
                            <div class="col-3 mb-3">
                        <span class="p-float-label">
                            <p-dropdown [options]="statuses" appendTo="body" formControlName="status" id="status"
                                        optionLabel="value" optionValue="value"></p-dropdown>
                            <label for="status">Status</label>
                            <small *ngIf="appUtility.getFormError(addRoleForm, 'status', 'status', 'required')">
                                {{ appUtility.makeErrorMessage('Status', 'required') }}
                            </small>
                        </span>
                            </div>
                            <div class="col-3 mb-3">
                                <div class="form-floating">
                            <textarea class="form-control" formControlName="remarks" id="remarks"
                                      placeholder="Remarks"></textarea>
                                    <label for="remarks">Remarks</label>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'remarks', 'remarks', 'maxlength')">
                                        {{ appUtility.makeErrorMessage("Remarks", 'maxlength', 256) }}
                                    </small>
                                    <small *ngIf="appUtility.getFormError(addRoleForm, 'remarks', 'remarks', 'pattern')">
                                        {{ appUtility.makeErrorMessage('Remarks', 'onlySpace') }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>

                <fieldset class="mt-30px">
                    <header>Permissions</header>
                    <p-accordion styleClass="mb-3">
                        <ng-container *ngFor="let permission of permissions; let index = index">
                            <p-accordionTab [header]="permission.name" [selected]="true">
                                <table class="table table-striped table-permissions">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-only">
                                                <input (change)="checkAllChildrenPermissions(permission, $event)" [attr.id]="permission.slug + index"
                                                       [checked]="permission.checked"
                                                       class="form-check-input"
                                                       type="checkbox">
                                                <label [attr.for]="permission.slug + index"
                                                       class="form-check-label"></label>
                                            </div>
                                        </th>
                                        <th>All</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngFor="let child of permission.children; let i = index">
                                        <tr>
                                            <td>
                                                <div class="form-check form-check-only">
                                                    <input (change)="checkAllActionPermissions(child, $event, permission.children, permission)" [(ngModel)]="child.checked"
                                                           [attr.id]="child.slug + index + i"
                                                           class="form-check-input"
                                                           type="checkbox">
                                                    <label [attr.for]="child.slug + index + i"
                                                           class="form-check-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <i class="icon-user"></i>
                                                <span>{{child.name}}</span>
                                            </td>
                                            <ng-container *ngFor="let action of child.moduleActionDTOList; let j = index">
                                                <td>
                                                    <div class="form-check">
                                                        <input (change)="isParentChecked(child.moduleActionDTOList, child);
                                                           checkAllActionPermissions(action, $event, permission.children, permission)"
                                                               [(ngModel)]="action.checked" [attr.id]="action.slug + index + i + j"
                                                               class="form-check-input"
                                                               type="checkbox">
                                                        <label [attr.for]="action.slug + index + i + j"
                                                               class="form-check-label">{{action.title}}</label>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="child.moduleActionDTOList.length < 5">
                                                <ng-container
                                                        *ngFor="let data of counter(5 - child.moduleActionDTOList.length)">
                                                    <td></td>
                                                </ng-container>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </p-accordionTab>
                        </ng-container>
                    </p-accordion>
                </fieldset>
            </div>
        </div>
        <div class="page-footer">
            <button class="btn btn-sm btn-danger" (click)="onCancelButtonClicked()">Cancel</button>
            <button (click)="createRolePermissions()" [disabled]="addRoleForm.invalid" class="btn btn-sm btn-primary"
                    type="button">Add
            </button>
        </div>
    </div>
</section>
<p-confirmDialog #cd styleClass="dialog-danger">
    <ng-template pTemplate="header">
        <div class="header-title">
            <i class="icon-building"></i>
            <span>Add Role</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="cd.reject()" class="btn btn-sm btn-danger me-2">Cancel</button>
        <button (click)="cd.accept()" class="btn btn-sm btn-primary">Yes</button>
    </ng-template>
</p-confirmDialog>

