<div class="layout-wrapper">
    <div class="content-wrapper">
        <nav-component [showImageViewSettings]="true" class="preview-nav-component">
            <ng-container imagePreviewActions>
                <div class="row actions-row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-secondary me-2" (click)="downloadFile()">
                            <i class="icon-download"></i>
                            Download
                        </button>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                    </div>
                </div>
            </ng-container>
        </nav-component>
        <section class="main-page-wrapper">
            <div class="left" [ngClass]="showDocInfoPane ? 'collapsed': ''">
                <div class="image-container">
                    <ng-container
                            *ngIf="getValidExtension(); else otherFileElseCase">
                        <ng-container *ngIf="checkValidImageFile(); else elseFileCase">
                            <img class="file-type-thumbnail"
                                 src="./assets/images/svg/icons/{{selectedDoc.extension}}.svg"
                                 alt="{{selectedDoc.extension}}">
                        </ng-container>
                        <ng-template #elseFileCase>
                            <div class="file-and-msg-prev-container">
                                <img class="file-type-thumbnail"
                                     src="./assets/images/svg/icons/{{selectedDoc.extension}}.svg"
                                     alt="{{selectedDoc.extension}}">
                                <p>We’re sorry, we can’t preview this file type in your web browser. To view this content please download and open it on your device.</p>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #otherFileElseCase>
                        <img class="file-type-thumbnail" src="./assets/images/svg/icons/other.svg" alt="other">
                    </ng-template>
                </div>
            </div>
            <doc-info-pane-component [_selectedDoc]="selectedDoc" [docTabs]="previewTabs"
                                     [ngClass]="showDocInfoPane ? '': 'collapsed'">
            </doc-info-pane-component>
        </section>
    </div>
</div>
