<div class="input-group me-1">
    <div class="input-group-text">
        <button class="btn btn-outline-light">
            <i class="icon-search"></i>
        </button>
    </div>
    <input type="text" class="form-control" placeholder="Search" onlyAlphaNumeric (keydown.enter)="navigateToSearch($event)">
</div>

<div class="input-group me-3">
    <div class="input-group-text">
        <button class="btn btn-outline-light">
            <i class="icon-search"></i>
        </button>
    </div>
    <input type="text" class="form-control" placeholder="Tags" onlyAlphaNumeric (keydown.enter)="navigateToTagSearch($event)">
</div>

<div class="form-check form-check-only me-1">
    <input (change)="favoritesCheckAction()" [checked]="isFavoriteChecked"
        class="form-check-input"
        id="favoritesCheck"
        type="checkbox">
    <label class="form-check-label" for="favoritesCheck">F</label>
</div>

<div class="form-check form-check-only me-1">
    <input (change)="sharedCheckAction()" [checked]="isSharedChecked"
           class="form-check-input"
           id="sharedCheck"
           type="checkbox">
    <label class="form-check-label" for="sharedCheck">S</label>
</div>

<button class="btn btn-search-popup" (click)="showSearchBarDialog()">
    <i class="icon-search"></i>
</button>

<p-dialog [(visible)]="searchBarToggle" [modal]="true">
    <ng-template pTemplate="header">
        Search here
    </ng-template>
    <input type="text" class="form-control">
    <ng-template pTemplate="footer">
        <button class="btn btn-danger me-2" (click)="hideSearchBarDialog()">Close</button>
        <button class="btn btn-primary">Search</button>
    </ng-template>
</p-dialog>
