<div class="input-group">
    <div class="input-group-text">
        <button class="btn btn-outline-light">
            <i class="icon-search"></i>
        </button>
    </div>
    <input type="text" class="form-control" placeholder="Search here" onlyAlphaNumeric (keydown.enter)="navigateToSearch($event)">
</div>

<button class="btn btn-search-popup" (click)="showSearchBarDialog()">
    <i class="icon-search"></i>
</button>

<p-dialog [(visible)]="searchBarToggle" [modal]="true">
    <ng-template pTemplate="header">
        Search here
    </ng-template>
    <input type="text" class="form-control">
    <ng-template pTemplate="footer">
        <button class="btn btn-danger me-2" (click)="hideSearchBarDialog()">Close</button>
        <button class="btn btn-primary">Search</button>
    </ng-template>
</p-dialog>
