@import "../../../../../../assets/less/_vars";

:host {
    background-color: @color-green-03;
    min-width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
