@import "../../../../assets/less/_vars";

:host {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container-breadcrumb-and-list-view {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	
	.breadcrumb {
		margin: 0;
		
		.breadcrumb-item {
			display: flex;
			align-items: center;
			
			+ .breadcrumb-item {
				
				&:before {
					content: "\e914";
					font-family: 'icomoon' !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-feature-settings: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 10px;
					font-size: 10px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: relative;
					top: 2px;
				}
				
			}
			
			&.active {
				
				a {
					color: @color-blue-03;
				}
				
			}
			
			a {
				text-transform: capitalize;
				font-size: 16px;
				line-height: 16px;
				color: @color-blue-01;
				text-decoration: none;
				font-weight: 400;
			}
			
		}
		
	}
	
	.input-group-display-listing {
		
		.btn {
			width: 22px;
			height: 22px;
			padding: 0;
			font-size: 12px;
			line-height: 12px;
			background-color: @color-green-02;
			border-color: @color-blue-05;
			color: @color-blue-01;
			
			&.active,
			&:focus,
			&:active,
			&:hover {
				background-color: @color-blue-01;
				border-color: @color-blue-01;
				color: @color-white;
			}
			
			&:first-child {
				margin-right: 10px;
			}
			
			
		}
		
	}
	
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 16px;
}

.title-and-action-items {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	color: @color-blue-01;
	font-weight: 700;
	line-height: 18px;
	margin: 0;
}

.description {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
}

@media (-webkit-device-pixel-ratio: 1.25) {
	
	.title {
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 10px;
	}
	
	p {
		font-size: 14px;
		line-height: 14px;
	}
	
	.container-breadcrumb-and-list-view {
		
		.breadcrumb {
			
			.breadcrumb-item {
				
				a {
					font-size: 14px;
					line-height: 14px;
				}
				
			}
			
		}
		
	}
	
}

@media screen and (max-width: 1440px) {
	
	.title {
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 10px;
	}
	
	p {
		font-size: 14px;
	}
	
}
