<div class="file-card">
    <div class="icon-thumbnail">
        <ng-container>
            <!--<ng-container *ngSwitchCase="'directory'">
                <i *ngIf="!gridItem.shared" class="icon-folder-filled"></i>
                <i *ngIf="gridItem.shared" class="icon-folder-shared-filled"></i>
            </ng-container>-->
            <img *ngIf="gridItem.isFolder == false" src="./assets/images/svg/icons/{{gridItem.extension}}.svg"
                 alt="{{gridItem.extension}}">
            <img *ngIf="gridItem.isFolder == true" src="./assets/images/svg/icons/folder.svg" alt="icon">
        </ng-container>
    </div>
    <div class="file-details">
        <p class="title">{{gridItem?.name}}</p>
        <p class="date-and-author">
            <span>{{gridItem?.updatedOn | date:'mediumDate'}} by </span>
            <a role="button" routerLink="/link">{{gridItem?.updatedByName}}</a>
        </p>
        <p class="file-size">{{gridItem?.size}}</p>
    </div>
    <button class="btn btn-tiered-menu-vertical" (click)="menu.toggle($event)">
        <p-tieredMenu #menu [model]="menuItem" appendTo="body" [popup]="true"></p-tieredMenu>
        <i class="icon-menu-vertical"></i>
    </button>
</div>
