<div class="file-card">
    <div class="icon-thumbnail">
        <ng-container>
            <!--<ng-container *ngSwitchCase="'directory'">
                <i *ngIf="!gridItem.shared" class="icon-folder-filled"></i>
                <i *ngIf="gridItem.shared" class="icon-folder-shared-filled"></i>
            </ng-container>-->
            <img src="{{gridItem.icon}}" alt="icon">
        </ng-container>
    </div>
    <div class="file-details">
        <p class="title">{{gridItem?.name}}</p>
        <p class="date-and-author">
            <span>{{gridItem?.updatedOn}} by </span>
            <a role="button" routerLink="/link">{{gridItem?.updatedBy}}</a>
        </p>
        <p class="file-size">{{gridItem?.size}}</p>
    </div>
    <button class="btn btn-tiered-menu-vertical" (click)="menu.toggle($event)">
        <p-tieredMenu #menu [model]="menuItem" appendTo="body" [popup]="true"></p-tieredMenu>
        <i class="icon-menu-vertical"></i>
    </button>
</div>
