<layout-component>
    <ng-container actionItems>
        <button class="btn btn-sm btn-secondary">
            <i class="icon-shared-by-me"></i>
            Upload
        </button>
        <button class="btn btn-sm btn-primary">
            <i class="icon-shared-by-me"></i>
            Create
        </button>
        <button class="btn btn-sm btn-primary">
            <i class="icon-shared-by-me"></i>
            Manage
        </button>
        <button class="btn btn-sm btn-primary">
            <i class="icon-shared-by-me"></i>
            Share
        </button>
    </ng-container>
    <ng-container pageBody>
        <data-table-component [actionItems]="items" [dataRows]="rows"></data-table-component>
    </ng-container>
    <ng-container docInfoPane>
        <doc-info-pane-component></doc-info-pane-component>
    </ng-container>
</layout-component>

