<button class="btn btn-pane-toggle" (click)="toggleDocInfoPane()">
    <i class="icon-pane-toggle"></i>
</button>

<div class="pane-wrapper">
    <i class="icon-folder-filled img-file-type"></i>
    <p-accordion>
        <p-accordionTab [selected]="true">
            <ng-template pTemplate="header">
                <div>
                    <i class="icon-properties"></i>
                    <span>Properties</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{selectedDoc?.title}}</td>
                    </tr>
                    <tr>
                        <th>Saved in</th>
                        <td>{{selectedDoc?.location}}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{selectedDoc?.size}}</td>
                    </tr>
                    <tr>
                        <th>Modified</th>
                        <td>{{selectedDoc?.updatedOnDetail}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{selectedDoc?.extension}}</td>
                    </tr>
                    <tr>
                        <th>Current Version</th>
                        <td>{{selectedDoc?.currentVersion}}</td>
                    </tr>
                    <tr>
                        <th>Copyright</th>
                        <td>Copyright (c) 2022 Infotech/Lahore No use without permission.</td>
                    </tr>
                    <tr>
                        <th>Last Updated By</th>
                        <td>{{selectedDoc?.updatedByName}}</td>
                    </tr>
                    <tr>
                        <th>Created By</th>
                        <td>{{selectedDoc?.createdByName}}</td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div>
                    <i class="icon-comments"></i>
                    <span>Comments</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="comments-wrapper">
                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-sm btn-outline-secondary me-2">Cancel</button>
                        <button class="btn btn-sm btn-primary">Post</button>
                    </div>
                    <ul class="activity-timeline">
                        <li class="has-comments">
                            <div class="activity-box">
                                <img src="./assets/images/svg/user-image-placeholder.svg" alt="user image">
                                <p>
                                    <span>Umar Farooq</span>
                                    <span class="text-muted">3:31 PM, Today</span>
                                </p>
                            </div>
                            <div class="comment-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                                    mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                                    interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class
                                    aptent taciti sociosqu ad litora torquent per conubia nostra
                                </p>
                                <div class="comment-actions">
                                    <button class="btn btn-sm btn-primary me-2">Edit</button>
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div>
                    <i class="icon-share"></i>
                    <span>Sharing</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">Body Content</ng-template>
        </p-accordionTab>
    </p-accordion>
</div>
